<h1>Questions</h1>

<div class="questions">
</div>

<div class="form">
  <form method="post" action="http://localhost:3000/questions" id="question_submit">
    <input type="text" name="title" placeholder="title"/>
    <input type="text" name="content" placeholder="content"/>
    <input type="submit" value="Create New Question"/>
  </form>
</div>
